<header class="cabecalho">
    <div class="nav-top">
        <div class="logo">
            <img src="logo/CL_500px/Sem_fundo_Escuro-.png" alt="Logo Compleal" class="logo">
        </div>
        <div class="nome-marca"> 
            <strong><span>CompLeal</span></strong> 
        </div>
        <div class="barra-pesquisa">
            <form class="entrada-busca">
                <input type="text" placeholder ="Pesquisar produtos, marcas e muito mais...">
                <button type="submit">Buscar</button>
            </form>
        </div>
        <ul class="nav-menu"> 
            <li class="item-menu"><a href="favorito/favorito.html" class="nav-link"><strong>Favoritos</strong></a></li>
            <li class="item-menu"><a href="ajuda/ajuda.html" class="nav-link"><strong>Ajuda</strong></a></li>
            <li class="item-menu"><a id="btn-header-auth" href="login/login.html" class="nav-link"></a></li>
        </ul>
    </div>
    <nav class="nav-filtros">
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="reviews/reviews.html">Reviews</a></li>
            <li><a href="ofertas/ofertas.html">Ofertas do Dia</a></li>
            <li><a href="mais_vendidos/mais_vendidos.html">Mais Vendidos</a></li>
            <li><a href="sobre/sobre.html">Sobre a Compleal</a></li>
        </ul>
    </nav>
</header>