<header class="navbar">
    <div class="nav-top">
        <div class="nav-logo">
            <img src="logo/CL_500px/Sem_fundo_Escuro-.png" alt="Logo Compleal" class="logo">
        </div>
        <div class="nav-marca"> 
            <strong><span>CompLeal</span></strong> 
        </div>
        <div class="nav-search-container">
            <div class="nav-search">
                <input type="text" placeholder ="Pesquisar produtos, marcas e muito mais...">
                <button type="submit">Buscar</button>
            </div>
        </div>
        <ul class="nav-tools"> 
            <li class="nav-item"><a href="login/login.html" class="nav-link">Olá, Faça seu <br><strong>Login</strong></a></li>
            <li class="nav-item"><a href="favorito/favorito.html" class="nav-link"><strong>Favoritos</strong></a></li>
            <li class="nav-item"><a href="carrinho/carrinho.html" class="nav-link"><strong>Carrinho</strong></a></li>
            <li class="nav-item"><a href="ajuda/ajuda.html" class="nav-link"><strong>Ajuda</strong></a></li>
        </ul>
    </div>
    <nav class="nav-bottom-filters">
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="reviews/reviews.html">Reviews</a></li>
            <li><a href="ofertas/ofertas.html">Ofertas do Dia</a></li>
            <li><a href="mais_vendidos/mais_vendidos.html">Mais Vendidos</a></li>
            <li><a href="sobre/sobre.html">Sobre a Compleal</a></li>
        </ul>
    </nav>
</header>